<!DOCTYPE html>
<html>
<head>    
    <meta charset="UTF-8"/>
    <title>SetorizaPy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <!-- Conteúdo -->    
    <div class="container-fluid">
      <h1>Administrar o DMC {{id_dmc}}</h1>
    </div>    
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
</body>
</html>